<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-11/12 xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      border border-black rounded-full
      px-2 py-1
      flex flex-row
      bg-black/50
      backdrop-blur-2xl
      w-fit
    `}
  >
    <a
      class="hover:bg-white/10 rounded-full p-2 lg:px-3 lg:py-0 transition text-sm lg:text-base"
      href="#experiencia">Experiencia</a
    >
    <a
      class="hover:bg-white/10 rounded-full p-2 lg:px-3 lg:py-0 transition text-sm lg:text-base"
      href="#proyectos">Proyectos</a
    >
    <a
      class="hover:bg-white/10 rounded-full p-2 lg:px-3 lg:py-0 transition text-sm lg:text-base"
      href="#sobre-mi">Sobre mí</a
    >
    <a
      class="hover:bg-white/10 rounded-full p-2 lg:px-3 lg:py-0 transition text-sm lg:text-base"
      href="#contacto">Contacto</a
    >
  </nav>
</header>
